/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

html {
  font-size: 1.125em;
  line-height: 22px;
  line-height: 1.222em;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-asjust: 100%;
}

h1 {
  font-size: 60px;
  font-family: serif;
  line-height: 70px;
  margin: 1em;
  text-align: center;
}
h2 {
  font-size: 50px;
  line-height: 60px;
  font-family: serif;
  text-align: center;
  padding-bottom: 45px;
  color: white;
}
h3 {
  font-size: 33px;
  font-family: serif;
  text-align: center;
  padding-bottom: 22px;
  padding-top: 22px;
  color: white;
}

h4 {
  font-size: 50px;
  font-weight: bold;
  font-family: serif;
  text-align: center;
  padding: 30px;
}

p {
  font-size: 16px;
  color: white;
  text-align: center;
  padding-bottom: 1em;
}

/* Layout Styles */
#header {
  background-color: #3d516c;
  color: white;
  padding: 4em;
}

.title {
  border-style: double;
  border-color: #cb9101;
  border-width: 44px;
}

.inside {
  background: url(TasteofChicago1.jpg);
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #cb9101;
}
#Menu {
  background-color: #3d516c;
  color: black;
  padding: 1.3em;
  height: 100%;
}

.sandwiches, .wings, .dinners, .mexicandinners, .hamburgers, .hotdogs, .pastas, .salad li {
  font-size: 20px;
  font-family: serif;
  line-height: 16px;
  padding-bottom: 18px;
  color: white;
}

.navigation {
  padding: .5em;
  padding-bottom: 1.5em;
}

.navigation li {
  font-size: 18px;
  font-family: serif;
  line-height: 16px;
  color:#FFFFF0;
  background-color: #cb9101;
  list-style: none;
  border-radius: 3em;
}

.navigation a {
font-size: 1em;
color: #FFFFFF; /* this is the yellow of the link bottons, change it */
padding-left: -0em;
}

#contact_us {
  background-color: #cb9101;
  font-size: 35px;
  font-family: serif;
  text-align: center;
  color: black;
  padding: 1.3em;
}

.contact ul:first-child {
  margin: 15px;
  padding-top: 10px;
  padding-bottom: 15px;
}

.contact ul:last-child {
  margin: 15px;
}

.location {
  width: 50%;
}

#map {
  border-radius: 50%
}

.contactinfo {
  margin: 15px;
}

#footer {
  text-align: center;
  font-size: 15px;
  height: 100%;
  background-color: #3d516c;
  color: white;
}

/* State */
 @media screen and (min-width: 320px) {
   html {
     font-size: 1em;
   }
  h1 {
    font-size: 30px;
    line-height: 40px;
    margin: .5em;
  }
  #header {
    padding: 1em;
  }
  .title {
    border-width: 20px;
  }
  .inside {
    height: 250px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
    padding-bottom: .5em;
  }
  h3 {
    font-size: 25px;
    line-height: 30px;
  }
  .navigation li {
    margin-bottom: .5em;
    padding: 4px;
    width: 200px;
    margin-left: 2em;
  }
  .navigation a {
    font-size: 13px;
    margin: 15px;
  }
  .sandwiches, .wings, .dinners, .mexicandinners, .hamburgers, .hotdogs, .pastas, .salads li {
    width: 85%;
    font-size: 15px;
    line-height: 18px;
    padding-left: 1em;
  }
  .sandwiches, .wings, .dinners, .mexicandinners, .hamburgers, .hotdogs, .pastas, .salads {
    border-style: double;
    border-color: #cb9101;
    border-width: 22px;
    margin-bottom: 2em;
  }
  h4 {
    font-size: 30px;
    line-height: 40px;
    padding-bottom: 5px;
  }
  #map {
    width: 100px;
    float:left;
    padding-bottom: .5em;
  }
  .contact {
    font-size: 20px;
    line-height: 20px;
  }
}
@media screen and (min-width: 625px) {
  html {
    font-size: 1.25em; /*20/16=1.25 */
  }
  h1 {
    font-size: 50px;
    line-height: 50px;
    margin: 1.4em;
  }
  .title {
   border-width: 30px;
  }
  .inside {
   height: 350px;
  }
  h3 {
   font-size: 30px;
   padding-bottom: 1em;
  }
  .sandwiches, .wings, .dinners, .mexicandinners, .hamburgers, .hotdogs, .pastas, .salads  li {
   font-size: 18px;
   padding-left: 2em;
  }
  .navigation li {
    padding: 6px;
    margin-left: 10em;
  }
  .navigation a {
    font-size: .90em;
   }
  #map {
   width: 250px;
  }
  h4 {
   font-size: 40px;
   line-height: 45px;
   padding-left: 7em;
   padding-bottom: .5em;
  }
  .contact li {
    line-height: 25px;
  }
}
@media screen and (min-width: 720px) {
  html {
    font-size: 2em;
  }
  h2 {
    font-size: 40px;
  }
  .navigation li {
    padding: 8px;
    margin-left: 11em;
  }
  h4 {
    padding-left: 8.8em;
  }
  #map {
    width: 275px;
  }
 .contact {
   line-height: 25px;
  }
 .contact li {salad
   padding-left: 17em;
  }
}
@media screen and (min-width: 920px) {
  #map {
    margin-left: 1em;
  }
  .navigation li {
    padding: 6px;
    margin-left: 0em;
    display: inline;
  }
  h4 {
    padding-left: 9.3em;
  }
}
@media screen and (min-width: 1100px) {
  h1 {
   font-size: 60px;
   line-height: 60px;
 }
 h4 {
   font-size: 55px;
   line-height: 60px;
   padding-left: 8em;
 }
 #map {
   width: 300px;
 }
 .contact li {
   font-size: 25px;
   line-height: 30px;
 }
}
@media screen and (min-width: 1270px) {
  .sandwiches, .wings, .dinners, .mexicandinners, .hamburgers, .hotdogs, .pastas, .salad li {
   font-size: 20px;
   line-height: 25px;
 }
 #map {
   margin-left: 4em;
   width: 325px;
 }
}
